[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.15.2",
    "asyncpg>=0.30.0",
    "bcrypt>=4.3.0",
    "fastapi[all]>=0.115.12",
    "orjson>=3.10.16",
    "passlib>=1.7.4",
    "psycopg>=3.2.6",
    "python-dotenv>=1.1.0",
    "sqlmodel>=0.0.24",
]
